[submodule "submodule/db-model"]
	path = submodule/db-model
	url = https://github.com/YLiLarry/db-model
[submodule "submodule/data-to-json-file"]
	path = submodule/data-to-json-file
	url = https://github.com/YLiLarry/data-to-json-file
